.App {
  text-align: center;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FAA9D2;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  font-size: 1.8em;
  color: white;
}
img{
  margin-left: 1em;
}
h1{
  height: 240px;
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 1em;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  color: #F94899;
  height: 100vh;
}
.hellokitty{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}
.gay{
  margin-top: 8em;
}
.kitty{
  margin-top: 20em;
}